/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

body {
	margin: 0;
	padding: 0;
	font-family: "roboto";
	line-height: normal;
	color: black;
	background-color: whitesmoke;
	font-family: "Roboto", sans-serif;
	text-align: center;
}

h1 {
	font-family: "Roboto", sans-serif;
	font-weight: bold;
}

h2 {
	font-family: "Titillium Web", sans-serif;
	font-weight: 600;
}

h3 {
	font-weight: 400;
}

h5 {
	font-weight: 400;
}

p {
	font-weight: 300;
}

button {
	font-weight: 300;
	font-size: 0.8rem;
	padding: 0.4rem 1rem;
}

.card-body {
    margin: 1rem;
}

.card-body p{
   font-weight: 400;
   font-size: 1.3rem;
   line-height: 1.5;

}

/********** Sections *******/
/* Heading */
#heading h1 {
	padding: 6rem;
	font-size: 3.5rem;
}

/* Jumbo */
#jumboCards.row {
	justify-content: center;
}

#jumboImage {
	margin-bottom: -15rem;
	width: 100%;
}

#jumboImage img {
	width: 90%;
	height: 400px;
}

#jumboCardLeft {
	position: relative;
	width: 400px;
	height: 400px;
	overflow: hidden;
}

#jumboCardLeft img {
	width: 400px;
	height: 400px;
}

#jumboCardRight {
	/* position: relative; */
	position: relative;
	width: 400px;
	height: 400px;
	margin: 1rem;
	padding: 3rem;
	background-color: white;
}

#jumbo div {
	align-items: center;
}

/* About */
#about img {
	padding-top: 5rem;
	padding-bottom: 5rem;
	width: 100%;
}

#about div {
	align-items: center;
	padding: 4rem;
}

.constructionText {
	line-height: 2;
}

/* Certifications */
#certifications {
	background-color: black;
	color: white;
	padding: 60px 10px;
}

.certHead {
	margin-bottom: 5rem;
}

#certificationCards p {
	font-size: small;
}

#certificationCards h2 {
	font-size: 1.5rem;
}

#certifications p {
	padding-inline-end: 2rem;
	padding-inline-start: 2rem;
}

#certifications img {
	width: 20%;
	filter: invert(1) brightness(90%);
}

#tiling img {
	width: 20%;
}

#tiling div {
	align-items: center;
	padding: 1.2rem;
}

#tractor img {
	padding-top: 5rem;
	padding-bottom: 5rem;
	width: 100%;
}

/**** media Queries ****/

/* Extra-Small */
@media (min-width: 320.98px) {
	#certifications {
		padding-inline-end: 1rem;
		padding-inline-start: 1rem;
	}
	.certHead {
		margin-bottom: 3rem;
	}
}

/* Small */
@media (min-width: 576px) {
	#certifications {
		padding-inline-end: 3rem;
		padding-inline-start: 3rem;
	}
	.certHead {
		margin-bottom: 3rem;
	}
}

/* Medium */
@media (min-width: 768px) {
	#certifications {
		padding-inline-end: 8rem;
		padding-inline-start: 8rem;
	}
	.certHead {
		margin-bottom: 5rem;
	}
}

/* Large */
@media (min-width: 992px) {
	#certifications {
		padding-inline-end: 10rem;
		padding-inline-start: 10rem;
	}
}
